@model PlanetsModel

<div class="text-center">
    <h2 class="display-4">Les planètes</h2>
    <div class="container">

        <tr>
            <td class="p-3">
                Name
            </td>
            <td class="p-3">
                @Model.Name
            </td>

        </tr>
        <tr>
            <td class="p-3">
                Climate
            </td>
            <td class="p-3">
                @Model.Climate
            </td>
        </tr>
        <tr>
            <td class="p-3">
                Diameter
            </td>
            <td class="p-3">
                @Model.Diameter
            </td>

</div>
</div>