@{
        ViewData["Title"] = "Home Page";
    }




@model string;

<!DOCTYPE HTML>
<html>
<head>
    <title>Razor</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <div class="container">
        @Model        
    </div>
</body>
</html>
