@{
    ViewData["Title"] = "Home Page";
    

}



<div class="text-center">
    <h1 class="display-4">Les planètes</h1>
    <form class="container" method="post">
        <p>Indiquez le numéro de la planète souhaitée dans la console/p>
        
    </form>
</div>


