@{
    ViewData["Title"] = "Planets";
}


<div class="text-center">
    <h1 class="display-4">Les planètes</h1>
    <div class="container">
        <p>Indiquez le numéro de la planète souhaitée</p>
        
    </div>
</div>
